MONGO_URI=mongodb://127.0.0.1:27017/NNPTUD-S4

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=your-email@gmail.com
MAIL_PASS=your-app-password
MAIL_FROM=KINGSPORT <your-email@gmail.com>
SHOP_NAME=KINGSPORT

FRONTEND_URL=http://localhost:5173
